@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  @apply bg-gradient-to-b from-gray-800 via-gray-800 to-indigo-950 text-zinc-200;
}

::placeholder {
  @apply dark:text-zinc-100;
}

input button {
  @apply dark:text-zinc-100;
}

* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  @apply bg-gray-800;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-starBlue-400 rounded-full;
}
