.swiper {
  margin-top: 5rem;
  max-width: 1500px;
  max-height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 500px;
  width: 100%;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
