.supimpa {
  width: 100%;
  height: 100%;
}

.supimpa .swiper-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.supimpa .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.supimpa .swiper-pagination {
  display: none;
}

.supimpa .swiper-button-next,
.supimpa .swiper-button-prev {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8rem;
}
